@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
    font-family: 'Libre Baskerville', serif;
    --background: rgb(228, 230, 222);
    --rook-card: rgb(247, 248, 241);
    --rook-blue: rgb(12, 201, 211);
    --rook-green: rgb(69, 187, 108);
    --rook-red: rgb(238, 37, 37);
    --rook-black: rgb(25, 25, 31);
    --rook-yellow: rgb(233, 211, 19);
}

body {
    background-color: var(--background);
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#content {
    width: 100%;
}

#menu {
    min-height: 100%;
    height: fit-content;
    background-color: var(--rook-card);
    display: none;
    width: 100%;
    padding-right: 2em;
    border-right: 0.2em solid var(--rook-black);
    border-radius: 0em 4em 4em 0em;
}

#menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.75em;
    color: var(--rook-black);
    width: 60%;
    margin: auto;
    margin-left: 20%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.8em 0em 0.8em 0em;
    border: 0.1em solid var(--rook-black);
    border-radius: 0.2em;
}

#profile {
    margin-top: 5em;
}

#profile img {
    width: 70%;
    margin: auto;
    margin-left: 15%;
    border-radius: 1em;
}

#profile h1 {
    text-align: center;
    color: var(--rook-black);
    font-size: 3em;
    margin: 0em;
}

#profile h2 {
    text-align: center;
    color: var(--rook-black);
    font-size: 1em;
    margin: 0em;
}

#navigation ul {
    list-style: none;
    padding: 0em;
}

#bottom-row {
    display:flex;
    flex-flow: row;
    margin-bottom: 5em;
    margin-top: 4em;
    width: 70%;
    margin-left: 15%;
}

#logout {
    color: var(--rook-red);
    border-color: var(--rook-red);
    flex-grow: 1;
    width: auto;
    margin-left: 0em;
}

#dashboard {
    flex-grow:4;
    width: auto;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#close-menu-button, #open-menu-button {
    font-family: 'Libre Baskerville', serif;
    border: none;
    background-color: var(--rook-blue);
    color: white;
}

#close-menu-button {
    flex-grow: 2;
    width: auto;
    margin-left: 0em;
}

#open-menu-button {
    position:fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 1em;
    padding: 0.6em 0.7em 0.7em 0.6em;
    font-size: 3em;
    z-index: 100;
}

#mobile-button-dock {
    display: block;
    height: 5em;
    width: 100%;
}

#schedule-edit form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
}

.schedule-edit-day {
    padding: 1em 2em 1em 2em;
    margin: 1em;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    flex-grow: 1;
    --day-color: var(--rook-black);
}

.schedule-day-label {
    color: var(--day-color);
    font-size: 1.75em;
}

.schedule-day-label:last-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    
}

.checkbox-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox-label {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    background-color: white;
    color: var(--day-color);
    border: 0.1em solid var(--day-color);
    padding: 1em;
}

.label-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

.checkbox-label input {
    display: none;
}

.checkbox-label:has(input:checked) {
    background-color: var(--day-color) !important;
    color: white !important;
}

input[type=submit] {
    font-family: 'Libre Baskerville', serif;
    border: none;
    background-color: var(--rook-blue);
    color: white;
    position:fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 1em;
    padding: 0.6em 0.7em 0.7em 0.6em;
    font-size: 3em;
    z-index: 100;
}

#game-order {
    padding: 1em 2em 1em 2em;
    margin: 1em;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#game-order h2 {
    color: var(--rook-yellow);
    font-size: 1.75em;
}

#game-order h2:last-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.game-order-listing {
    text-align: center;
    border: 0.1em solid var(--rook-yellow);
    border-top-width: 0.05em;
    border-bottom-width: 0.05em;
    padding: 0.6em;
    color: var(--rook-yellow);
    font-size: 1.25em;
}

#game-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
}

.game-listing {
    padding: 1em 2em 1em 2em;
    margin: 1em;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    --day-color: var(--rook-black);
}

.game-listing-inactive {
    padding: 1em 2em 1em 2em;
    margin: 1em;
    background-color: var(--background);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    --day-color: var(--rook-black);
}

.game-listing-inactive img {
    width: 15%;
    min-width: 20%;
    flex-grow: 1;
    border-radius: 1em 0em 1em 1em;
}

.game-listing img {
    width: 20%;
    min-width: 20%;
    flex-grow: 1;
    border-radius: 1em 0em 1em 1em;
}

.game-details {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
}

.game-heading {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
}

.game-heading h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.3em;
    font-size: 1.75em;
}

.game-heading h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.25em;
}

.game-owner {
    text-align: center;
    margin: 0;
    flex-grow: 3;
    font-size: 1.25em;
}

.game-details form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.game-details .edit-game {
    border: none;
    background-color: var(--rook-blue);
    color: white;
    position: static;
    border-radius: 0.2em;
    padding: 0;
    margin-left: 3%;
    flex-grow: 1;
    font-size: 1.25em;
    z-index: 0;
}

.game-players {
    display: flex;
    flex-grow: 7;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-players li {
    list-style: none;
    margin-left: 0.7em;
    margin-right: 0.7em;
    font-size: 1em;
}

#edit-game {
    padding: 1em 2em 1em 2em;
    height: fit-content;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    display: block;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10em;
}

#edit-game h2 {
    color: var(--rook-green);
    font-size: 1.75em;
}

#edit-game h2:last-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#edit-game form {
    display: flex;
    flex-direction: column;
}

#edit-game form div {
    display: flex;
    flex-direction: column;
    color: var(--rook-green);
    font-size: 1.5em;
    margin: 0.5em;
}

#edit-game form input {
    font-family: 'Libre Baskerville', serif;
    margin: 0.6em;
    font-size: 0.75em;
}

#edit-game form input[type=text], #auth-container form input[type=password] {
    background: var(--rook-card);
    color: var(--rook-black);
    padding: 0.4em;
    border: 0.1em solid var(--rook-green);
    border-radius: 0.2em;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

#edit-game-type-selection {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    border: 0.05em solid var(--rook-green);
    margin: 0 !important;
}

.edit-game-type-text {
    flex-grow: 1 !important;
    font-size: 0.6em !important;
    margin: 0.3em !important;
}

.edit-game-type input{
    display: none;
}

.edit-game-type:has(input:checked) {
    background-color: var(--rook-green);
}

.edit-game-type:has(input:checked) .edit-game-type-text {
    color: white !important;
}

#edit-game-running {
    display: flex !important;
    flex-direction: row !important;
}

#edit-game-running input {
    display: none;
}


#edit-game-running-yay, #edit-game-running-nay {
    border: 0.05em solid var(--rook-green);
    padding: 0.3em;
    font-size: 0.75em !important;
    margin: 0 !important;
    margin-left: 0.5em !important;
    width: 3em !important;
    text-align: center;
}

#edit-game-running:has(input:checked) #edit-game-running-yay {
    display: block;
    background: var(--rook-green);
    color: white;
}

#edit-game-running:has(input:checked) #edit-game-running-nay {
    display: none;
}

#edit-game-running #edit-game-running-yay {
    display: none;
}

#edit-game-running #edit-game-running-nay {
    display: block;
    background: none;
    color: var(--rook-green);
}

#edit-game-discord-selection {
    display: flex !important;
    flex-direction: row !important;
    border: 0.05em solid var(--rook-green);
    margin: 0 !important;
}

#edit-game-discord-id {
    display: flex !important;
    flex-direction: row !important;
    width:auto;
    flex-wrap: wrap;
}

#edit-game-discord-id div {
    font-size: 0.5em !important;
    flex-grow: 1 !important;
}

#edit-game-discord-id div select{
    font-family: 'Libre Baskerville', serif;
    display: flex !important;
    flex-direction: row !important;
    border: 0.05em solid var(--rook-green);
    margin: 0 !important;
    background-color: var(--rook-card);
    font-size: 1.25em;
    padding: 0.3em;
    border-radius: 0.3em;
}

.edit-game-discord-text {
    flex-grow: 1 !important;
    font-size: 0.6em !important;
    margin: 0.3em !important;
    text-align: center !important;
}

.edit-game-discord {
    flex-grow: 1;
}

.edit-game-discord input{
    display: none;
}

.edit-game-discord:has(input:checked) {
    background-color: var(--rook-green);
}

.edit-game-discord:has(input:checked) .edit-game-discord-text {
    color: white !important;
}

#game-edit-player-container {
    display: flex !important;
    flex-direction: column !important;
    border-radius: 3em !important;
}

.game-edit-player {
    border: 0.05em solid var(--rook-green) !important;
    background-color: var(--rook-card) !important;
    color: var(--rook-black) !important;
}

.game-edit-player input {
    display: none !important;
}

.game-edit-player:has(input:checked) {
    background-color: var(--rook-green) !important;
}

.game-edit-player:has(input:checked) div {
    color: white !important;
}

.game-edit-player-text {
    font-size: 1em !important;
    text-align: center !important;
}

#edit-game-error {
    color: var(--rook-red);
    font-size: 1em;
    text-align: center;
}

#legend {
    padding: 1em 2em 1em 2em;
    height: fit-content;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
}

.legend-color {
    padding: 0.3em;
}

.color-label {
    font-size: 1.25em;
    border-bottom-width: 0.1em;
    border-bottom-left-radius: 1em;
    display: inline-block; 
}
.color-preview{
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

#calendar {
    padding: 1em 2em 1em 2em;
    height: fit-content;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    display: block;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10em;
}

.day {
    display:flex;
    flex-direction: row;
}

.day-label {
    font-size: 1.25em;
    width: 8em;
}

.number-cell {
    flex-grow: 1;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.hour-cell {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 0.1em solid var(--rook-black);
}

.game-cell {
    flex-grow: 1;
}

#auth-container {
    padding: 1em 2em 1em 2em;
    height: fit-content;
    background-color: var(--rook-card);
    border-right: 0.2em solid var(--rook-black);
    border-bottom: 0.2em solid var(--rook-black);
    border-radius: 1em;
    display: block;
    max-width: 80%;
    margin: auto;
    --day-color: var(--rook-black);
}

#auth-container h2 {
    color: var(--rook-red);
    font-size: 1.75em;
}

#auth-container h2:last-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#auth-container form {
    display: flex;
    flex-direction: column;
}

#auth-container form div {
    display: flex;
    flex-direction: column;
    color: var(--rook-red);
    font-size: 1.5em;
    margin: 0.5em;
}

#auth-container form input {
    font-family: 'Libre Baskerville', serif;
    margin: 0.6em;
    font-size: 0.75em;
}

#auth-container form input[type=text], #auth-container form input[type=password] {
    background: var(--rook-card);
    color: var(--rook-black);
    padding: 0.4em;
    border: 0.1em solid var(--rook-red);
    border-radius: 0.2em;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.auth-submit {
    border: none;
    background-color: var(--rook-blue);
    color: white;
    border-radius: 0.2em !important;
    bottom: auto !important;
    left: auto !important;
    padding: 0 !important;
    width: auto;
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
    font-size: 1.5em !important;
    z-index: 0 !important;
    position: static !important;
}

#auth-error {
    color: var(--rook-red);
    font-size: 1em;
    text-align: center;
}

@media (orientation: landscape) {
    #menu {width: 30%; display: inline-block;}
    #open-menu-button {display: none;}
    #close-menu-button {display: none;}
    #bottom-row {margin-top: 2em; margin-bottom: 2em;}
    input[type=submit] {left: unset; right: 0; border-top-right-radius: 0em; border-top-left-radius: 1em;}
    .game-listing-inactive img {width: 10%; min-width: 15%;}
    .game-listing img {width: 15%; min-width: 15%;}
}